<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>角色识别助手</title>
    <link rel="icon" href="../img/角色-01.png" type="image/x-icon" />
    <!-- Bootstrap4核心CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>

  <body>
    <!-- 导航栏 -->
    <nav
      class="navbar navbar-expand fixed-top navbar-light bg-light bd-navbar"
      id="navbar"
    >
      <div class="container d-flex">
        <div class="navbar-header" id="navbar-header">
          <a class="navbar-brand">
            <img
              src="../img/角色-01.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="Logo"
            />
            角色识别助手
          </a>
        </div>
        <div class="navbar-nav-scroll">
          <ul class="navbar-nav d-flex" id="nav-menu">
            <li class="nav-item">
              <a href="/src/template/index.html" class="nav-link">主页</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link active">介绍</a>
            </li>
            <li class="nav-item">
              <a href="/src/template/comments.html" class="nav-link">留言</a>
            </li>
          </ul>
        </div>
        <!-- ml-auto为bootstrap中向左推两个项目 -->
        <div class="ml-auto d-flex">
          <ul
            class="nav navbar-nav user-bar align-items-center justify-content-end"
            id="userbox"
          ></ul>
        </div>
      </div>
    </nav>
    <!-- 主页面 -->
    <div class="container main">
      <div class="row">
        <!-- 工具介绍  -->
        <div class="col-12">
          <div class="intro-page card">
            <div class="card-header">工具介绍</div>
            <div class="card-body">
              <p>本工具用于快速识别</p>
              <h5>使用方法</h5>
              <p>balabalabalabalabalabalabalabala</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="../js/displaynav.js"></script>
  </body>
</html>
