.bd-navbar {
  padding: 0;
}
.navbar-nav .nav-item a.nav-link {
  padding: 15px;
  border-top: 3px solid #f8f9fa;
  border-bottom: 3px solid #f8f9fa;
}
.navbar-nav .nav-item .nav-link.active {
  color: #2c6eb7;
  border-bottom-color: #2c6eb7;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #2c6eb7;
  border-bottom-color: #2c6eb7;
}
