.bd-navbar {
  padding: 0;
}
.navbar-nav .nav-item a.nav-link {
  padding: 15px;
  border-top: 3px solid #f8f9fa;
  border-bottom: 3px solid #f8f9fa;
}
.navbar-nav .nav-item .nav-link.active {
  color: #2182c7;
  border-bottom-color: #2182c7;
  border-image: linear-gradient(to right, #2182c7 30%, #27c168 100%);
  border-image-slice: 10;
}
.navbar-nav .nav-item .nav-link:hover {
  color: #2182c7;
  border-bottom-color: #2182c7;
}
